<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/file.css' />
    <script src="/javascripts/fileViewer.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <a href="/?path=<%= prevFolder %>/">&lt; BACK</a><br />
    <iframe id="viewer" src="<%= uri %>"></iframe>
  </body>
</html>
