<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      //
    </script>
  </head>
  <body>
    <% for(var i in dir.folders) { %>
    	<strong><%= dir.folders[i] %></strong><br />
    <% } %>
		<% for(var i in dir.files) { %>
			<p><%= dir.files[i] %></p><br />
		<% } %>
  </body>
</html>
