<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
    <script>
      //
    </script>
  </head>
  <body>
    <a href="/?path=<%= prevFolder %>/">&lt; BACK</a><br />
    <pre><%= textData %></pre>
  </body>
</html>
